--Maybe create views here?
--Subcriber From Member
SELECT *
INTO [Stage_1307].[dbo].[subscriber]
FROM [Stage_1307].[dbo].[member]
WHERE [RELATIONSHIP_TO_SUBSCRIBER] = '01';

--Pharmacy SUBSTRING(name, 3, 2)
SELECT *
INTO [Stage_1307].[dbo].[servicephm]
FROM [Stage_1307].[dbo].[raw_services]
WHERE [NDC] is not null;

--Medical
SELECT *
INTO [Stage_1307].[dbo].[servicemed]
FROM [Stage_1307].[dbo].[raw_services]
WHERE [NDC] is null;